<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Általános">
        <setting label="Videó minősége" type="enum" id="autopick" values="Választható|Legjobb" default="0" />
        <setting label="Felirat letöltésének kísérlete" type="bool" id="downloadsubtitles" default="True"/>
        <setting label="Felnőtt tartalom engedélyezése" type="bool" id="enableAdult" default="false"/>
	</category>
</settings>